
/*Front page styling*/


body {
background-image : url('https://cdn.pixabay.com/photo/2020/02/05/15/47/natural-4821583_960_720.png');
background-repeat : no-repeat center center fixed;
background-color : #eeeeee;
margin : 0;
padding : 0;
}


.fa-facebook-official {
    float: right;
    padding-right: 15px;
}

.first-header {
   color: #ffffff;
   font-family: 'Montserrat', sans-serif;
   font-size: 30px;
   text-align: center;
   top: 100px;
}

.carousel {
  top: 50px;
  margin-bottom: 70px;
}

.footer {
    background: #fdfff5;
}
/*styling for about page*/


h2 {
    text-align: left;
       padding: 10px;
    margin-left: 10px;
}

.about-info p {
     display: block;
    padding: 30px;
    margin-left: 50px;
    font-family: 'Montserrat', sans-serif; 
    color: #ffffff;
    text-decoration: underline;
}

.about-header {
     color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    background-color: #2a9df4;
}

.about-mo {
    color: #ffffff;
}

 img {
    opacity: 0.8;
}

.card-text {
    font-family: 'Marck Script', cursive;
}
 .about-info {
     color: #ffffff;
 }
/*styling for walking info*/
.walking-header  {
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    background-color: #2a9df4;
}
.walking-p {
    text-align: center;
}


.card-title {
    text-align: center;
    color:  #004e7c;
    display: block;
}

.page-3 {
    background-color: #f4f2f3;
}

.walk-paragraph {
    margin-top: 150px;
    font-size: large;
}

.walks-media {
    margin-right: 20px;
    padding-right: 20px;
}
/*mobile  device style*/


@media screen {
     .card-body div {
       display: none;
    }
}


@media screen  {
     .about-us-info {
       text-decoration: underline;
       color:  #004e7c;
    }
}

@media screen  {
    .walking-header {
       font-size: small;
    }
}

@media only screen and (max-width: 600px){
   .walks-block  {
display: block;
    }
}

@media only screen and (max-width: 800px){
   .dog-pic  {
display: none;
    }
}













