
/*Front page styling*/


body {
background-image : url('https://cdn.pixabay.com/photo/2020/02/05/15/47/natural-4821583_960_720.png');
background-color : #eeeeee;
margin : 0;
padding : 0;
}


.fa-facebook-official {
    float: right;
    padding-right: 15px;
}

.first-header {
   color: #ffffff;
   font-family: 'Montserrat', sans-serif;
   font-size: 30px;
   text-align: center;
   top: 100px;
}

.carousel {
  top: 50px;
  margin-bottom: 70px;
}

 img {
    opacity: 0.8;
}

.footer {
    background: #fdfff5;
}
/*styling for about page*/
.page-header {
        color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-size: large;
    text-align: center;
    background-color: #2a9df4;

}

.about-info p {
     display: block;
    padding: 30px;
    margin-left: 50px;
    font-family: 'Montserrat', sans-serif; 
    color: #ffffff;
    text-decoration: underline;
}

.about-mo {
    color: #ffffff;
}

.mo-pic {
    margin-top: 30px;
    overflow: hidden;
}

.card-text {
    font-family: 'Marck Script', cursive;
}
 .about-info {
     color: #ffffff;
 }

 /*styling for walking info*/
section {
    width: 100%;
}

.walking-p {
    text-align: center;
}

.card-title {
    text-align: center;
    color:  #004e7c;
}
.page-3 {
    background-color: #f4f2f3;
}

h5 {
    padding: 5px;
}

/*mobile  device style*/

@media screen  {
    .walking-header {
       font-size: small;
    }
}

@media only screen and (max-width: 600px) {
  .walking-paragraph {
    font-size: small;
    margin-top: 40px;
    margin-bottom: 30px;
    overflow: hidden;
  }
}

@media only screen and (max-width: 600px) {
  .walking-paragraph {
    font-size: small;
    margin-top: 40px;
    margin-bottom: 30px;
    overflow: hidden;
  }
}

@media only screen and (max-width: 768px) {
  .picture {
      width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  .mo-pic {
      height: 200px;
  }
}









